body {
    padding-top: 70px;
}

#full-page {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background: #f2825b;
}

#full-page .jumbotron {
    margin: 70px auto 0;
    width: 80%;
}