body {
  padding-top: 40px; }

#full-page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2825b;
  background-image: -webkit-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%);
  background-image: linear-gradient(to bottom, #f2825b 0%, #e55b2b 50%, #f07146 100%); }
  #full-page .hero-unit {
    margin: 0 auto;
    margin-top: 10%;
    width: 800px; }
